---
import Layout from "../layouts/Layout.astro";
import ProfileImage from "../components/ProfileImage.astro";
---

<Layout title="Careers">
  <main class="flex flex-col items-center justify-center">
    <div class="mt-[6rem] text-center">
      <h3 class="text-2xl md:text-3xl font-bold">
        Meet our team of <span class="text-green font-medium">creators</span> and
        <span class="text-green font-medium">problem solvers.</span>
      </h3>
      <article class="mt-[1.5rem] md:text-lg">
        The team at Shamba Data is always looking for a diverse set of skills as
        we are buidling a product that models and shape the complex food system
        in Africa.
      </article>
    </div>

    <div class="md:grid md:grid-cols-2 md:gap-[2rem] md:space-x-5 lg:flex">
      <ProfileImage ringColor="gold" name="Brighton Mboya" position="CTO" />
      <ProfileImage ringColor="green" name="Kondwani Ngulube" position="CTO" />
      <ProfileImage
        ringColor="gold"
        name="Aime Bah"
        position="Product Designer"
      />
      <ProfileImage
        ringColor="green"
        name="Abdul Karim"
        position="Data Analyst"
      />
    </div>

    <h3 class="mt-[2rem] text-green text-xl font-bold md:text-2xl">Openings</h3>
    <p class="text-center text-lg mt-[1rem]">
      Currently we don't have any openings. Keep in touch with us in our social
      media pages in case anythings comes up.
    </p>
  </main>
</Layout>
