---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Careers">
  <div class="mt-[4rem] flex flex-col items-center justify-center">
    <h3 class="m-auto text-xl">
      Meet our team if <span class="text-green">creators</span> and <span
        class="text-green">problem solvers</span
      >
    </h3>
  </div>
</Layout>
