---
import ImageCard from "./ImageCard.astro";
---

<div class="flex items-center justify-center flex-col">
  <div class="h-[214px] w-[350px] lg:w-[900px] lg:h-[320px] rounded-t-md">
    <div
      class="h-[144px] lg:w-[900px] lg:h-[200px] bg-green rounded-t-md text-white text-center"
    >
      <h3 class="pt-[20px] font-bold text-lg lg:text-xl lg:pt-[30px]">
        Transforming Economic Value Chain
      </h3>
      <div class="lg:flex lg:justify-center lg:items-center">
        <article class="pt-[20px] lg:text-lg lg:max-w-2xl">
          With our accurate & up to date data, companies and businesses can
          supplement their current supply chains, plan accordingly and make
          data-informed decisions.
        </article>
      </div>
    </div>
    <div
      class="lg:flex lg:justify-center lg:items-center lg:-translate-y-[1rem]"
    >
      <div class="h-[70px] lg:h-[100px] lg:w-[380px] w-[350px] hidden md:block">
        <img
          src="/econ1.png"
          alt=""
          class="h-[70px] w-[350px] lg:w-[380px] lg:h-[100px] lg:rounded-sm"
        />
      </div>
      <div class="h-[70px] lg:h-[100px] lg:w-[380px] w-[350px]">
        <img
          src="/tomat.webp"
          alt=""
          class="h-[70px] w-[350px] lg:w-[380px] lg:h-[100px] lg:rounded-sm"
        />
      </div>
      <div class="h-[70px] lg:h-[100px] lg:w-[380px] w-[350px] hidden md:block">
        <img
          src="/econ2.png"
          alt=""
          class="h-[70px] w-[350px] lg:w-[380px] lg:h-[100px] lg:rounded-sm"
        />
      </div>
    </div>
  </div>

  <div class="mt-[45px]">
    <h3 class="text-center text-green font-bold md:text-xl lg:text-[1.4rem]">
      We are Working with Customers to
    </h3>
    <div
      class="flex flex-col md:flex-row md:items-start md:gap-5 md:mt-[2rem] justify-center items-center"
    >
      <ImageCard
        color="green"
        caption="Plan Accordingly"
        imageUrl="/plan.webp"
        description="Optimize the supply chains by comparing on different suppliers of their specific needs."
      />
      <ImageCard
        color="gold"
        caption="Forecast Accordingly"
        imageUrl="/forecast.webp"
        description="use our data to forecast the risk in supply chains and crop production."
      />
      <ImageCard
        color="green"
        caption="Monitor Accordingly"
        imageUrl="/monitor.webp"
        description="Use data to monitor food security in your region."
      />
    </div>
  </div>
</div>
